@use "../helpers/variables" as *;
@use "../helpers/maxins" as *;

@use "../pages/global";

$block: "statistics";
.#{$block} {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 80px;
  background-color: $statistics-bg;

  h2.#{$block}__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  p.#{$block}__para {
    width: 30%;
    margin-block: 10px;
    font-size: $font-size-18;
  }

  .#{$block}__box {
    position: relative;
    display: flex;
    min-height: 40vh;
    margin-top: 100px;
    gap: 150px 40px;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      @include dimension(10px, 90%);
      background-color: $cyan-color;
    }
  }

  .#{$block}__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: start;
    @include border-radius(3px);
    padding: 70px 20px 40px;
    background-color: $white-color;

    &:nth-last-of-type(2) {
      align-self: center;
    }
    &:last-of-type {
      align-self: flex-end;
    }
  }
  .#{$block}__card img {
    position: absolute;
    inset: -10% auto auto 10%;
    @include border-radius(50%);
    padding: 15px;
    background-color: $dark-violet;
  }
  .#{$block}__card-title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .#{$block}__card-para {
    font-size: 15px;
  }
}

@media (max-width: 962px) {
  .#{$block} {
    h2.#{$block}__title {
      font-size: 32px;
    }
    p.#{$block}__para {
      width: 100%;
    }
    .#{$block}__box {
      display: flex;
      flex-direction: column;

      &::before {
        inset: 150px 50%;
        @include dimension(70%, 10px);
        @include transform(translateX(-50%));
      }
    }
  }
}
@media (max-width: 564px) {
  section.#{$block} {
    .#{$block}__card {
      text-align: center;
    }
    .#{$block}__card img {
      inset: -15% auto auto 50%;
      @include transform(translateX(-50%));
    }
  }
}
