@use "../helpers/variables" as *;
@use "../helpers/maxins" as *;

@use "../pages/global";

$block: "statistics";
.#{$block} {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 60px;
  background-color: $statistics-bg;

  .#{$block}__search-container {
    position: relative;
    top: -140px;
    width: 100%;

    .#{$block}__input-container {
      display: flex;
      justify-content: space-between;
      padding: 50px;
      column-gap: 20px;
      @include border-radius(10px);
      background-color: $dark-violet;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1110" height="168"><path fill="%234B3F6B" fill-rule="evenodd" d="M647-93.924c0 52.724 15.5 90.486 73 114.877 57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552c89.976-51.322 130.765-171.152 103.88-241.807C1327.115-119.515 1275.593-184 1027-184c-248.593 0-380 37.353-380 90.076zm-781 213c0 52.724 15.5 90.486 73 114.877 57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552C559.095 354.626 599.884 234.796 573 164.141 546.115 93.485 494.593 29 246 29c-248.593 0-380 37.353-380 90.076z"/></svg>');
      background-size: cover;

      &::before {
        //for error message
        position: absolute;
        content: "Please add a link";
        bottom: 210px;
        font-style: italic;
        color: $red;
      }
      input.#{$block}__input {
        width: 100%;
        padding: 15px;
        @include border-radius(7px);
        border: 0;
        font-size: $font-size-18;

        &.#{$block}__input--error {
          border: 2px solid $red;

          &::placeholder {
            color: $red;
          }
        }
      }
      button.#{$block}__search-btn {
        width: 150px;
        @include border-radius(7px);
        padding: 15px 15px;
        font-size: 16px;
      }
    }

    .#{$block}__search-result {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      margin-top: 30px;
      width: 100%;

      .#{$block}__result {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
        @include border-radius(7px);
        font-size: $font-size-18;
        background-color: $white-color;

        p.#{$block}__origin-link {
          color: $black-color;
          font-weight: $font-weight-700;
        }
        a.#{$block}__result-link {
          margin-right: 20px;
          color: $cyan-color;
        }
        button.#{$block}__copy-btn {
          padding: 5px 20px;
          @include border-radius(7px);
          font-size: 16px;
        }
      }
    }
  }

  h2.#{$block}__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  p.#{$block}__para {
    width: 30%;
    margin-block: 10px;
    font-size: $font-size-18;
  }

  .#{$block}__box {
    position: relative;
    display: flex;
    min-height: 40vh;
    margin-top: 100px;
    gap: 150px 40px;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      @include dimension(10px, 90%);
      background-color: $cyan-color;
    }

    .#{$block}__card {
      position: relative;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      text-align: start;
      @include border-radius(3px);
      padding: 70px 20px 40px;
      background-color: $white-color;

      &:nth-last-of-type(2) {
        align-self: center;
      }
      &:last-of-type {
        align-self: flex-end;
      }

      .#{$block}__card-img {
        position: absolute;
        inset: -10% auto auto 10%;
        @include border-radius(50%);
        padding: 15px;
        background-color: $dark-violet;
      }
      .#{$block}__card-title {
        font-size: 25px;
        margin-bottom: 15px;
      }
      .#{$block}__card-para {
        font-size: 15px;
      }
    }
  }

  @include max-breakpoint(962px) {
    h2.#{$block}__title {
      font-size: 32px;
    }
    p.#{$block}__para {
      width: 100%;
    }
    .#{$block}__box {
      display: flex;
      flex-direction: column;

      &::before {
        inset: 150px 50%;
        @include dimension(70%, 10px);
        @include transform(translateX(-50%));
      }
    }
  }

  @include max-breakpoint(800px) {
    .#{$block}__input-container {
      display: block !important;
      padding: 20px !important;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="237" height="128"><path fill="%234B3F6B" fill-rule="evenodd" d="M0-.924C0 51.8 15.5 89.562 73 113.953c57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552C693.095 234.626 733.884 114.796 707 44.141 680.115-26.515 628.593-91 380-91 131.407-91 0-53.647 0-.924z"/></svg>');

      &::before {
        //for error message
        bottom: 65% !important;
      }

      button.#{$block}__search-btn {
        width: 100% !important;
        @include border-radius(7px);
        padding: 15px 15px;
        margin-top: 10px;
        font-size: 16px;
      }
    }

    .#{$block}__search-container {
      width: fit-content;

      .#{$block}__result {
        flex-direction: column;
  
        .#{$block}__action-container {
          display: block;
          margin-top: 10px;
  
          a.#{$block}__result-link {
            margin: 0 !important;
          }
  
          button.#{$block}__copy-btn {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }

  @include max-breakpoint(564px) {
    .#{$block}__card {
      text-align: center;
    }
    .#{$block}__card img {
      inset: -15% auto auto 50%;
      @include transform(translateX(-50%));
    }
  }
}
