@use "../helpers/variables" as *;
@use "../helpers/maxins" as *;

@use "../pages/global";

$block: "header";
.#{$block} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  column-gap: 100px;
  padding-block: 110px;
  font-family: $font-family-poppins, sans-serif;

  h1.#{$block}__heading {
    line-height: 1.2;
    font-size: clamp(2.5rem, 1.515vi + 1.6rem, 3.438rem);
  }
  p.#{$block}__para {
    font-size: $font-size-18;
  }
  // there's a global style the btn
  button.#{$block}__btn {
    margin-top: 20px;
  }

  img.#{$block}__img {
    width: 40vw;
  }

  @include max-breakpoint(800px) {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;

    h1.#{$block}__heading {
      margin-bottom: 20px;
    }

    img.#{$block}__img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}