@use "../helpers/variables" as *;
@use "../helpers/maxins" as *;

$block: 'header';
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  // height: 60vh;

  h1.#{$block}__heading {
    
  }
  p.#{$block}__para {

  }
  button.#{$block}__btn {
    
  }
}